*.a
*.bak
*.bz2
*.gz
*.o
*.so
.*.swp
.deps
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
deliver
depcomp
esmtp
install-sh
lexer.c
mailq
missing
parser.c
parser.h
sendmail
stamp-h1
ylwrap
